@charset "UTF-8";
/*
@font-face {
  font-family: 'Didot';
  src: url(fonts/Didot-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Didot';
  src: url(fonts/Didot-Medium.ttf);
  font-weight: 600;
}*/
@font-face {
  font-family: 'Didot';
  src: url(fonts/Didot/Didot-HTF-L06-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Didot';
  src: url(fonts/Didot/Didot-HTF-B64-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'SFPro';
  src: url(fonts/SF-Pro/SF-Pro-Display-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'SFPro';
  src: url(fonts/SF-Pro/SF-Pro-Display-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'SFPro';
  src: url(fonts/SF-Pro/SF-Pro-Display-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'SFPro';
  src: url(fonts/SF-Pro/SF-Pro-Display-Black.otf);
  font-weight: 900;
}

html {
  font-size: .828vw;
}

body {
  font-family: 'SFPro';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #000;
}

.h1, h1 {
  font-size: 2.75rem;
  font-weight: 700;
}

button, input, optgroup, select, textarea {
  font-family: 'SFPro';
}

.container-fluid {
  max-width: 90%;
}

.logo {
  font-size: 2.375rem;
  letter-spacing: -0.114rem;
  font-weight: 200;
  display: inline-block;
}

.logo strong {
  color: #efc61e;
  font-weight: 700;
}

.logo.footer_logo {
  margin-bottom: 6.25rem;
}

.logo.footer_logo strong {
  color: #ef476f;
}

.main_header {
  padding: 1.25rem 0;
  background: #000;
  color: #fff;
}

.main_header .list-inline-item {
  margin-left: 5rem;
}

.main_header .list-inline-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.main_footer {
  background: #f7f7f7;
  padding: 4.25rem 0 1rem;
}

.main_footer.dark_footer {
  background: #000;
}

.main_footer.dark_footer .widget_title {
  color: #b7b7b7;
}

.main_footer.dark_footer a, .main_footer.dark_footer p, .main_footer.dark_footer .copyright_text, .main_footer.dark_footer .social_menu li a {
  color: #fff;
}

.main_footer.dark_footer .copyright {
  border-color: #707070;
}

.main_footer .col-5 {
  display: none;
}

.main_footer a, .main_footer p {
  color: #000;
  font-size: 1.875rem;
  font-weight: 500;
}

.main_footer .widget_title {
  color: #b3b4b5;
  margin-bottom: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main_footer .menu {
  padding-left: 0;
  list-style: none;
}

.main_footer .menu a {
  color: #fff;
  font-size: 1.125rem;
  margin-bottom: 0.85rem;
  display: block;
  text-decoration: none;
}

.main_footer .copyright {
  border-top: 1px solid #c3c3c3;
  padding-top: 1.5rem;
  margin-top: 12rem;
  margin-bottom: 0.5rem;
}

.main_footer .footer-menu li {
  list-style: none;
}

.main_footer .social_menu li a {
  font-size: 2rem;
  margin-right: 2rem;
  color: #000;
}

.main_footer .social_menu li:last-of-type a {
  margin-right: 0;
}

.btn {
  padding: 0.65rem 2rem;
  background: #fff;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.offer-ticker {
  position: absolute;
  right: 0;
  background: #fff;
  color: #000;
  padding: 1.35rem 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  line-height: 1.1;
  z-index: 10;
  margin-top: 2rem;
}

.offer-ticker span {
  display: block;
  font-size: 1.688rem;
  font-weight: 700;
}

.booking-wrapper {
  background: #000 url(./images/banner-img.svg);
  color: #fff;
  padding: 0.5rem 0 4rem;
  background-repeat: no-repeat;
  background-position: 93% 87%;
  background-size: 21rem;
  margin-top: -1px;
}

.booking-wrapper .calendar-container {
  padding-bottom: 30px;
}

.booking-wrapper .row {
  position: relative;
}

.booking-wrapper .inner {
  max-width: 84%;
}

.booking-wrapper .pos_unset {
  position: unset;
}

.booking-wrapper .box2 {
  display: none;
}

.booking-wrapper .box3 {
  display: none;
}

.booking-wrapper .booking-box {
  background: #2f2f2f;
  border-radius: 1.5rem;
  min-height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.booking-wrapper .booking-box.box2 {
  height: auto;
}

.booking-wrapper .booking-box.box2 .current-location {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header {
  padding-top: 3vh;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location {
  position: relative;
  padding-left: 2.5rem;
  font-size: 1.875rem;
  font-weight: 700;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location:before, .booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location:after {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: #fff;
  border-radius: 50%;
  left: 0;
  top: .75rem;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location:after {
  background: transparent;
  border: 1px solid #fff;
  width: 1.75rem;
  height: 1.75rem;
  left: -.25rem;
  margin-top: -.25rem;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location .selected {
  padding-left: 1rem;
  display: none;
  margin-top: .5rem;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location.active .selected {
  display: inline-block;
  padding-left: 0rem;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location.active > div:before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2px;
  background: #fff;
  bottom: 1rem;
  left: 0.65rem;
}

.booking-wrapper .booking-box.calendar_wrapper .box-header .selected-location.active > div:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 1.75rem;
  background: #fff;
  bottom: 1rem;
  left: 0.5rem;
}

.booking-wrapper .booking-box.calendar_wrapper .times_options {
  border-bottom: 2px solid #707070;
  padding-bottom: 1vh;
  margin: 1vh 0 2.5vh;
}

.booking-wrapper .booking-box.calendar_wrapper .times_options input {
  display: none;
}

.booking-wrapper .booking-box.calendar_wrapper .times_options input + span {
  display: inline-block;
  width: 2.125rem;
  height: 2.125rem;
  text-align: center;
  line-height: 2.35rem;
  border-radius: 50%;
  color: #979797;
}

.booking-wrapper .booking-box.calendar_wrapper .times_options input:checked + span {
  background: #fff;
  color: #000;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar {
  width: 100%;
  background: transparent;
  border: none;
  font-family: 'SFPro';
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__navigation__prev2-button, .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar button.react-calendar__navigation__label {
  background: #fff;
  border-radius: 1rem;
  height: 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  pointer-events: none;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar button.react-calendar__navigation__arrow {
  height: 3.5rem;
  color: #fff;
  background: transparent !important;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar button.react-calendar__navigation__arrow:hover, .booking-wrapper .booking-box.calendar_wrapper .react-calendar button.react-calendar__navigation__arrow:active, .booking-wrapper .booking-box.calendar_wrapper .react-calendar button.react-calendar__navigation__arrow:visited {
  background: transparent;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar button {
  color: #fff;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile {
  padding: .25rem;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__viewContainer {
  background: #222222;
  border: none;
  width: 100%;
  border-radius: 1.11rem;
  padding: 1.5vh .5vw;
  margin-top: 2.5rem;
}

@media only screen and (min-width: 1024px) and (max-height: 700px) {
  .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__viewContainer {
    padding: 1rem 1rem;
    margin-top: -.5rem;
  }
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__month-view__weekdays abbr {
  color: #fff;
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 5rem;
  text-decoration: none;
  font-size: 1.25rem;
  padding-left: 0.65rem;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 0;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__month-view__days__day--weekend, .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__month-view__days__day {
  color: #ffffff;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile--active, .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile:enabled:hover, .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile:enabled:focus, .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile--now {
  background: transparent;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar abbr {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
}

.booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile:enabled:hover abbr, .booking-wrapper .booking-box.calendar_wrapper .react-calendar .react-calendar__tile--active abbr {
  background: #fff;
  color: #000;
}

.booking-wrapper .booking-box .box-header {
  padding: 6vh 5rem 3vh 2.5rem;
  background: #222222;
}

.booking-wrapper .booking-box .box-header h1 {
  font-weight: 700;
  margin-bottom: 0;
}

.booking-wrapper .booking-box .box-body {
  padding: 2.5vh 2.5rem 3vh 2.5rem;
}

.booking-wrapper .booking-box .box-body .inner_wrappr {
  position: relative;
}

.booking-wrapper .booking-box .box-body .inner_wrappr input {
  background: #222222;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding: 1rem 5.5rem 1rem 2.5rem;
  color: #fff;
  font-weight: 500;
}

.booking-wrapper .booking-box .box-body .inner_wrappr svg {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 1.9rem;
  color: #8f8f8f;
}

.booking-wrapper .booking-box .App__input {
  position: relative;
}

.booking-wrapper .intro_text {
  margin-top: -5rem;
}

.booking-wrapper .intro_text .sub_title {
  color: #efc61e;
  max-width: 70%;
  margin-bottom: 1.5rem;
}

.booking-wrapper .intro_text .title {
  font-size: 8.438rem;
  font-family: 'Didot';
  margin: .75rem 0 2.5rem;
  font-weight: 300;
}

.booking-wrapper .intro_text p {
  margin-bottom: 2.5rem;
  max-width: 450px;
}

.booking-wrapper .booking_form {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  background: #303030;
  top: 0;
  z-index: 1;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}

.booking-wrapper .booking_form .Pricing {
  font-size: 3.75rem;
  font-family: 'Didot';
  font-weight: 700;
  margin-top: -1rem;
}

.booking-wrapper .booking_form > .wrapper {
  padding: 2.5rem 0 50px 2.5rem;
  height: 100%;
}

.booking-wrapper .booking_form > .wrapper .times_options2 {
  background: #222222;
  border-radius: 1.11rem;
  overflow: hidden;
}

.booking-wrapper .booking_form > .wrapper .times_options2 li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ccc;
}

.booking-wrapper .booking_form > .wrapper .times_options2 li label {
  width: 100%;
  display: block;
  margin-bottom: 0;
}

.booking-wrapper .booking_form > .wrapper .times_options2 li span {
  display: block;
  text-align: center;
  padding: 0.75rem 1.15rem;
  border-radius: 1.11rem;
  font-weight: 700;
}

.booking-wrapper .booking_form > .wrapper .times_options2 li input[type="radio"] {
  display: none;
}

.booking-wrapper .booking_form > .wrapper .times_options2 li input[type="radio"]:checked + span {
  background: #fff;
  color: #000;
}

.booking-wrapper .box3 img {
  max-height: 25vh;
}

@media only screen and (min-width: 1920px) {
  .sub_title {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 700px) {
  .booking-wrapper .calendar-container {
    padding-bottom: 0px;
  }
  .selectedTime {
    margin-top: -1vh;
    margin-bottom: -1vh;
    display: block;
  }
  form.bookingForm {
    max-height: 55vh;
    overflow-y: auto;
  }
  form.bookingForm::-webkit-scrollbar {
    display: none;
  }
}

.section_title {
  margin-bottom: 7rem;
}

.feature_box {
  margin-bottom: 4rem;
}

.feature_box .inner {
  max-width: 430px;
}

.feature_box .inner img {
  max-height: 22rem;
  max-width: 100%;
}

.feature_box .inner .title {
  font-weight: 700;
  margin: 3rem 0;
}

.features_wrapper {
  padding: 10rem 0 5rem;
}

.features_wrapper .feature_box:nth-of-type(2) .inner {
  margin: 0 auto;
}

.features_wrapper .feature_box:nth-of-type(3) .inner {
  margin-left: auto;
}

.single_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_reviews .inner {
  border-radius: 1.5rem;
  padding: 7rem 5rem 15rem;
  color: #fff;
}

.single_reviews .inner .person_name {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
}

.single_reviews .inner .stars {
  margin: 1rem 0 4rem;
  font-size: 2.188rem;
  display: inline-block;
  position: relative;
}

.single_reviews .inner .stars span {
  margin-right: .5rem;
}

.single_reviews .inner .review-content {
  font-size: 3.125rem;
  margin-bottom: 8rem;
  line-height: 1.2;
}

.single_reviews .inner img {
  position: absolute;
  bottom: 4rem;
  opacity: .5;
  max-width: 10rem;
}

.single_reviews:nth-last-of-type(2) .inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#06d6a0), to(#15a278));
  background: linear-gradient(180deg, #06d6a0, #15a278);
}

.single_reviews:nth-last-of-type(1) .inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#067bd6), to(#095b9b));
  background: linear-gradient(180deg, #067bd6, #095b9b);
}

.cta_wrapper {
  padding: 12rem 0;
}

.cta {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef476f), to(#d14264));
  background: linear-gradient(180deg, #ef476f, #d14264);
  color: #fff;
  padding: 8rem;
  border-radius: 1.875rem;
}

.cta .btn {
  padding: 0.75rem 3rem;
  border-radius: 0.75rem;
}

.cta .section_title {
  font-size: 8.125rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 12rem;
}

.menu_open, .menu_close, .mobile_phone {
  display: none;
}

/* Booking form */
.bookingForm label {
  width: 100%;
  padding-left: .75rem;
}

.bookingForm input, .bookingForm textarea {
  height: 3.25rem;
  width: 100%;
  border-radius: 1.125rem;
  border: none;
  background: #222222;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  outline: none;
  color: #fff;
}

.bookingForm textarea {
  height: 8rem;
  padding-top: 1rem;
  outline: none;
  color: #fff;
}

.bookingForm textarea::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body, .btn {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  body, .btn {
    font-size: 1.25rem !important;
  }
  .booking-wrapper .form_side, .booking-wrapper .caption_side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .booking-wrapper .box3 {
    margin-top: -45rem !important;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 700px) {
  .bookingForm textarea {
    height: 6rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 1.5vw;
  }
  body, .btn {
    font-size: 1.5rem;
  }
  .cta .section_title {
    font-size: 6rem;
  }
  .cta .btn {
    border-radius: 1.5rem;
  }
  .container-fluid {
    max-width: 95%;
  }
  .feature_box .inner img {
    max-height: 12rem;
  }
  .booking-wrapper {
    padding-top: 3rem;
    background-image: none;
  }
  .single_reviews .inner {
    padding: 4rem 2rem 12rem;
  }
  .single_reviews .inner .review-content {
    font-size: 2rem;
    margin-bottom: 8rem;
    line-height: 1.2;
  }
  .single_reviews .inner img {
    max-width: 8rem;
  }
  .cta {
    padding: 5rem;
  }
  .booking-wrapper > div > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .booking-wrapper .intro_text {
    padding: 1rem 0 8rem;
    background: url(./images/banner-img.svg) 80% 90% no-repeat;
    background-size: 200px;
    margin-top: -40px;
  }
  .booking-wrapper .booking-box {
    max-width: 100%;
    min-height: 70vh;
    height: auto;
  }
  .booking-wrapper .booking-box.box2 {
    min-height: auto;
  }
  .booking-wrapper .box3 {
    position: relative;
    width: 84%;
    margin-top: -45rem;
    border-bottom-left-radius: 1.875rem;
  }
  .booking-wrapper .box3 img {
    max-height: 18vw;
  }
  #booking-calendar .rmdp-day, #booking-calendar .rmdp-week-day {
    width: 5vw !important;
    height: 5vw !important;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: initial;
  }
  body {
    font-size: 1.11rem;
  }
  .container-fluid {
    max-width: 95%;
  }
  .main_header {
    padding-bottom: 1rem;
  }
  .mobile_phone {
    float: right;
    background: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: black;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    text-align: center;
    position: relative;
    top: .5rem;
    margin-right: -.5rem;
  }
  .mobile_phone svg {
    vertical-align: bottom;
  }
  .menu_open {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: -5px;
    margin-right: 1.5rem;
    position: relative;
    top: -0.1rem;
  }
  .menu_close {
    position: absolute;
    color: #fff;
    display: inline-block;
    right: 25px;
    top: 15px;
    font-size: 2rem;
  }
  .logo {
    max-width: 56vw;
  }
  .mobile_phone {
    display: inline-block;
  }
  .offcanvas_menu > div {
    position: fixed;
    width: 75%;
    height: 100%;
    top: 0;
    background: #000;
    z-index: 11;
    padding: 17% 7% 5% !important;
    left: 0;
    text-align: left !important;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .offcanvas_menu > div.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .offcanvas_menu > div ul {
    padding-left: 0;
  }
  .offcanvas_menu > div ul .list-inline-item {
    margin-left: 0;
    display: block;
    margin-bottom: 20px;
  }
  .section_title {
    font-size: 30px;
    margin-bottom: 3rem;
  }
  .features_wrapper {
    padding: 5rem 0 4rem;
  }
  .feature_box {
    margin-bottom: 3rem;
  }
  .feature_box .inner {
    max-width: 100%;
    margin-left: 0 !important;
  }
  .feature_box .inner img {
    margin: 0 auto;
    display: block;
  }
  .feature_box .inner .title {
    margin-bottom: 2rem;
  }
  .single_reviews {
    margin-bottom: 2rem;
  }
  .single_reviews .inner {
    padding: 40px;
  }
  .single_reviews .inner .person_name {
    font-size: 1.18rem;
  }
  .single_reviews .inner .review-content {
    font-size: 1.11rem;
    margin-bottom: 5rem;
  }
  .single_reviews .inner .stars {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.11rem;
  }
  .single_reviews .inner .stars span {
    margin-right: 0.25rem;
  }
  .single_reviews .inner img {
    max-width: 40px;
    bottom: 2rem;
    margin-left: -10px;
  }
  .cta_wrapper {
    padding: 0 16px 180px;
  }
  .cta {
    padding: 100px 24px;
    border-radius: 15px;
  }
  .cta .section_title {
    font-size: 50px;
    margin-bottom: 300px;
  }
  .cta .cta .btn {
    padding: 0.75rem 2rem;
  }
  .main_footer {
    padding: 2rem 0 1rem;
  }
  .main_footer .col-5 {
    display: block;
  }
  .main_footer a, .main_footer p, .main_footer .copyright_text {
    font-size: 1.25rem;
  }
  .main_footer .widget_title {
    margin-bottom: 1rem;
  }
  .main_footer [class*="col"] {
    margin-bottom: 20px;
  }
  .main_footer .footer_logo {
    margin-bottom: 3.25rem;
  }
  .main_footer .col-6:nth-child(2) {
    padding-left: 0;
  }
  .main_footer .copyright {
    margin-top: 3rem;
  }
  .main_footer .copyright .social_menu {
    display: none;
  }
  .btn {
    padding: 0.35rem 1.5rem;
    font-size: 1.11rem;
  }
  .offer-ticker {
    padding: 1rem 0.65rem 1rem 1.25rem;
    margin-top: -5px;
    font-size: 1rem;
  }
  .offer-ticker span {
    font-size: 1.35rem;
  }
  .booking-wrapper {
    padding: 0 0 4rem;
    background-image: none;
  }
  .booking-wrapper > div > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .booking-wrapper .calendar_wrapper .calendar-container {
    padding-bottom: 20px;
  }
  .booking-wrapper .calendar_wrapper .box-body {
    opacity: 1;
  }
  .booking-wrapper .calendar_wrapper .box-body > p {
    padding-left: .75rem;
  }
  .booking-wrapper .calendar_wrapper .times_options {
    overflow-x: auto;
    padding-bottom: 1rem !important;
    margin-bottom: 1.5rem !important;
  }
  .booking-wrapper .calendar_wrapper .times_options li {
    margin-right: 0;
  }
  .booking-wrapper .calendar_wrapper .react-calendar__viewContainer {
    padding: 8px 11px !important;
  }
  .booking-wrapper .calendar_wrapper .react-calendar abbr {
    width: 2rem !important;
    height: 2rem !important;
    line-height: 2rem !important;
  }
  .booking-wrapper .calendar_wrapper .selected-location.active > div:before, .booking-wrapper .calendar_wrapper .selected-location.active > div:after {
    bottom: 0.5rem !important;
    left: 0.55rem !important;
  }
  .booking-wrapper .inner {
    max-width: 100%;
  }
  .booking-wrapper .pos_unset {
    padding: 0;
    position: relative;
  }
  .booking-wrapper .intro_text {
    margin-top: 0rem;
    padding-bottom: 110px;
    background: url(./images/banner-img.svg) 100% 85% no-repeat;
    background-size: 200px;
  }
  .booking-wrapper .intro_text .title {
    font-size: 50px;
    margin: 1.5rem 0;
  }
  .booking-wrapper .intro_text .sub_title {
    max-width: 70%;
    font-size: 30px;
  }
  .booking-wrapper .intro_text .sub_title br {
    display: none;
  }
  .booking-wrapper .booking-box {
    max-width: 100%;
    height: auto;
  }
  .booking-wrapper .booking-box.box1, .booking-wrapper .booking-box.box2 {
    height: 42rem;
    min-height: 78vh;
  }
  .booking-wrapper .booking-box .box-body {
    padding: 10px;
  }
  .booking-wrapper .booking-box .input-box svg {
    right: 1.5rem;
  }
  .booking-wrapper .booking-box .input-box input {
    height: 60px;
    border-radius: 1.5rem;
    padding: 0.75rem 4.5rem 0.75rem 1.25rem;
    font-weight: 400;
  }
  .booking-wrapper .booking-box .box-header {
    padding: 2rem 2rem 1.05rem 1.5rem !important;
  }
  .booking-wrapper .booking-box .box-header h1 {
    font-size: 30px;
  }
  .booking-wrapper .booking-box .box-header .selected-location {
    font-size: 1.275rem !important;
  }
  .booking-wrapper .booking-box .box-header .selected-location:after, .booking-wrapper .booking-box .box-header .selected-location::before {
    top: 0.25rem !important;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .booking-wrapper .margin-bttom {
    margin-bottom: 22rem;
  }
  .booking-wrapper .booking_form {
    width: 100%;
    margin-top: 11rem;
    position: absolute;
    height: auto;
    border-bottom-left-radius: 1.875rem;
  }
  .booking-wrapper .booking_form .img2 {
    display: none;
  }
  .booking-wrapper .booking_form input, .booking-wrapper .booking_form textarea {
    height: 2.75rem;
    border-radius: 0.75rem;
    padding-left: 1.25rem;
  }
  .booking-wrapper .booking_form textarea {
    height: 8.25rem;
  }
  .booking-wrapper .booking_form .heading {
    font-size: 14px;
    color: #7d7d7d;
    text-transform: uppercase;
    margin: 20px 0 0 !important;
  }
  .booking-wrapper .booking_form .bookingForm {
    margin-top: 20px !important;
  }
  .booking-wrapper .booking_form .bookingForm .send {
    position: relative;
    top: 130px;
    border-radius: 0.75rem;
    height: 2.875rem;
  }
  .booking-wrapper .booking_form .wrapper {
    padding: 1rem 0 !important;
    margin: 0;
    height: auto;
  }
  .booking-wrapper .booking_form .times_options2 li span {
    padding: 0.65rem 1.15rem !important;
  }
  .booking-wrapper .booking_form .Pricing {
    font-size: 2.438rem;
  }
  .booking-wrapper .d-flex.flex-column {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -65px;
  }
  .booking-wrapper .d-flex.flex-column > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
  }
  .booking-wrapper .d-flex.flex-column > div img {
    max-width: 135px;
  }
}

input[aria-expanded="true"] + .autocomplete-dropdown-container {
  padding: 1rem 0;
}

.autocomplete-dropdown-container {
  background: #222;
  margin-top: 20px;
  border-radius: 20px;
  padding: 0;
  max-height: 45vh;
  overflow-y: auto;
}

.booking-wrapper .booking-box .location-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.booking-wrapper .booking-box .location-img-wrapper {
  min-width: 30px;
  display: inline-block;
}

.autocomplete-dropdown-container > div {
  padding: 1.5rem;
  border-radius: 15px;
  font-size: 1.25rem;
  padding-left: 4rem;
  margin: 0.15rem 1.15rem;
  position: relative;
}

.autocomplete-dropdown-container > div:hover {
  background-color: #fff;
  color: #000;
}

.autocomplete-dropdown-container > div:hover .location-img {
  -webkit-filter: none;
          filter: none;
}

.autocomplete-dropdown-container .location-img-wrapper {
  max-width: 3rem;
  position: absolute;
  left: 1rem;
  top: 1.55rem;
}

.autocomplete-dropdown-container .location-img-wrapper img {
  max-width: 3rem;
}

.autocomplete-dropdown-container .location-img {
  max-width: 3rem;
}

span.error-message {
  color: #eb4e4e;
}

.output__modal button.btn-close {
  width: 50px;
  border: none;
  height: 50px;
  max-width: 50px;
  position: relative;
  background: transparent;
}

.output__modal button.btn-close:before {
  content: '✖';
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 9999;
  color: #fff;
}

.output__modal .modal-header {
  border-bottom: none;
}

.output__modal .modal-footer {
  border-top: none;
  padding-bottom: 30px;
}

.output__modal .modal-content {
  border: none !important;
  background-color: #111;
}

.output__modal button.btn.btn-secondary {
  background: #6f6f6f;
  border-color: #6f6f6f;
  font-size: 15px;
  padding: 8px 20px;
}

.output__modal button.btn.btn-primary {
  padding: 8px 20px;
  font-size: 15px;
  background: #fff;
  border-color: #fff;
  color: #000;
}

.output__modal .modal-body {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
  max-width: 75%;
  margin: 0 auto;
}

.fade.output__modal.modal.show {
  min-height: 100vh;
  display: -ms-grid !important;
  display: grid !important;
  place-items: center;
}

.output__modal .modal-header img {
  display: block;
  margin: 40px auto !important;
}

.output__modal .modal-header .modal-title {
  width: 100%;
}

.second_modal .modal-content, .second_modal .modal-body {
  border: none !important;
  background-color: transparent;
}

.second_modal .feature-img {
  max-width: 50px;
}

@media (min-width: 1440px) {
  .booking-wrapper .booking-box .box-body svg {
    top: 17px;
  }
}

@media (max-width: 1000px) and (min-width: 767px) {
  .booking-wrapper .booking-box .box-body svg {
    top: 8px;
  }
}

@media (max-width: 767px) {
  .booking-wrapper .booking-box .box-body input {
    padding: 1rem 4.5rem 1rem 1.5rem !important;
  }
  .booking-wrapper .booking-box .box-body svg {
    right: 1.5rem !important;
    max-width: 1.75rem !important;
  }
  .location-search-input[aria-expanded="true"] + .autocomplete-dropdown-container {
    padding: 0;
  }
  .autocomplete-dropdown-container > div {
    padding: 1rem;
    border-radius: 15px;
    font-size: 1rem;
    padding-left: 2rem;
    text-align: left !important;
    text-indent: 0;
    position: relative;
  }
  .autocomplete-dropdown-container .location-img-wrapper {
    max-width: 1.15rem;
    position: absolute;
    left: 0;
    top: 1rem;
  }
  .autocomplete-dropdown-container .location-img-wrapper img {
    max-width: 1.35rem;
  }
  .selectedTime {
    display: block;
    margin: 25px 0 10px;
  }
}

/* new calendar */
#booking-calendar .rmdp-wrapper {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 1.11rem;
}

#booking-calendar .rmdp-wrapper .rmdp-calendar {
  width: 100%;
  padding: 0;
}

#booking-calendar .rmdp-wrapper .rmdp-calendar .rmdp-header {
  width: 100%;
  height: auto;
}

#booking-calendar .rmdp-wrapper .rmdp-calendar .rmdp-header .rmdp-header-values {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  background: #fff;
  border-radius: 1rem;
  height: 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  pointer-events: none;
  line-height: 3.5rem;
}

#booking-calendar .rmdp-wrapper .rmdp-calendar .rmdp-header .rmdp-arrow-container:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#booking-calendar .rmdp-wrapper .rmdp-calendar .rmdp-header .rmdp-arrow {
  border-color: #fff;
  width: 0.75rem;
  height: 0.75rem;
}

#booking-calendar .rmdp-wrapper .rmdp-calendar .rmdp-header + div {
  background: #222;
  border-radius: 1.11rem;
  padding: 1.5vh 1vw;
  margin-top: 1.5rem;
}

#booking-calendar .rmdp-wrapper .rmdp-day-picker {
  width: 100%;
}

#booking-calendar .rmdp-wrapper .rmdp-day-picker > div {
  width: 100%;
}

#booking-calendar .rmdp-week-day {
  color: #fff;
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 5rem;
  text-decoration: none;
  font-size: 1.25rem;
  padding-left: 0.65rem;
  text-transform: uppercase;
  font-weight: 600;
}

#booking-calendar .rmdp-day span {
  font-size: 1.25rem;
}

#booking-calendar .rmdp-day, #booking-calendar .rmdp-week-day {
  width: 2vw;
  height: 2vw;
  margin: 0.15rem;
  border-radius: 50%;
}

#booking-calendar .rmdp-day span, #booking-calendar .rmdp-week-day span {
  color: #fff;
}

#booking-calendar .rmdp-day.rmdp-deactive span, #booking-calendar .rmdp-day.rmdp-disabled span {
  color: #ffffff80;
}

#booking-calendar .rmdp-day.rmdp-today {
  background-color: #ffffff;
}

#booking-calendar .rmdp-day.rmdp-today span {
  background-color: transparent;
  color: #000;
}

#booking-calendar .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden):hover, #booking-calendar .rmdp-day.rmdp-selected {
  background-color: #f2c81f;
  color: #000;
}

#booking-calendar .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover, #booking-calendar .rmdp-day.rmdp-selected span {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000;
}

#booking-calendar .rmdp-day:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 134%;
  background: #707070;
  left: -1.5rem;
  top: -1rem;
}

#booking-calendar .rmdp-week .rmdp-day:first-child:before {
  display: none;
}

.bottom_btns {
  margin-top: 1rem;
}

.bottom_btns button {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
}

.bottom_btns button.previous {
  background: #222222;
  color: #fff;
}

.bottom_btns button.previous:hover {
  color: #fff;
}

.app {
  border-top: 2px solid #707070;
  padding-top: 1rem;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
  #booking-calendar .rmdp-day span {
    font-size: 1.1rem;
    width: 8vw;
    height: 8vw;
  }
  #booking-calendar .rmdp-header-values {
    height: 3rem !important;
    font-size: 1rem !important;
    line-height: 3rem !important;
  }
  #booking-calendar .rmdp-arrow {
    width: 0.65rem !important;
    height: 0.65rem !important;
  }
  #booking-calendar .rmdp-day:before {
    left: -1.65vw;
  }
  #booking-calendar .rmdp-wrapper .rmdp-calendar .rmdp-header + div {
    margin-top: 1rem;
  }
  #booking-calendar .rmdp-day span {
    left: 2px;
  }
  #booking-calendar .rmdp-day, #booking-calendar .rmdp-week-day {
    height: 9vw;
    width: 9vw;
  }
  #booking-calendar .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden):hover, #booking-calendar .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden):hover span {
    background-color: transparent;
    color: #fff;
  }
  #booking-calendar .rmdp-day.rmdp-today {
    background-color: #ffffff !important;
  }
  #booking-calendar .rmdp-day.rmdp-today span {
    color: #000 !important;
  }
  #booking-calendar .rmdp-day.rmdp-selected {
    background-color: #f2c81f !important;
    color: #000 !important;
  }
  #booking-calendar .rmdp-day.rmdp-selected span {
    color: #000 !important;
  }
  .bottom_btns {
    margin-left: 0px;
    margin-right: 0px;
  }
  .bottom_btns > div {
    padding-left: 7px;
    padding-right: 7px;
  }
  .bottom_btns button {
    height: 3.35rem;
    border-radius: 0.65rem;
  }
  .tip {
    display: none;
  }
  .app {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
  .selectedTime {
    margin: 15px 0 10px;
  }
}

/* Faq Page */
.faq-section {
  background: #000;
  color: #fff;
  padding: 9rem 0;
}

.faq-section .large_heading {
  font-size: 8.438rem;
  color: #f2c81f;
  font-weight: 900;
  margin-bottom: 12rem;
}

.faq-section .single_faq {
  margin-bottom: 5rem;
}

.faq-section .single_faq .title {
  font-size: 1.875rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.faq-section .contact-wrapper {
  margin-top: 12rem;
}

.faq-section .contact-wrapper h3 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.faq-section .contact-wrapper .form-group {
  margin-bottom: 1.5rem;
}

.faq-section .contact-wrapper .form-control {
  height: 5rem;
  border-radius: 0.813rem;
  font-size: 1.25rem;
  padding: 1.5rem 2rem;
}

.faq-section .contact-wrapper .form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.faq-section .contact-wrapper .form-control:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.faq-section .contact-wrapper .form-control::-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.faq-section .contact-wrapper .form-control::placeholder {
  color: #000;
  opacity: 0.5;
}

.faq-section .contact-wrapper textarea.form-control {
  height: 14.063rem;
}

.faq-section .contact-wrapper .send {
  background: #f2c81f;
  height: 5.188rem;
  border-radius: 0.813rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .faq-section .large_heading {
    font-size: 6.438rem;
  }
}

@media only screen and (max-width: 767px) {
  .faq-section {
    padding: 1rem 0 14rem;
  }
  .faq-section > .container-fluid > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .faq-section > .container-fluid > .row [class*="col"] {
    padding: 0 7px;
  }
  .faq-section .large_heading {
    font-size: 3.35rem;
    margin-bottom: 3rem;
  }
  .faq-section .single_faq:last-child {
    margin-bottom: 0;
  }
  .faq-section .contact-wrapper {
    margin-top: 3rem;
  }
  .faq-section .contact-wrapper .form-group {
    margin-bottom: 1rem;
  }
  .faq-section .contact-wrapper .form-control {
    height: 3.75rem;
    font-size: 1.11rem;
    padding: 1rem 1.25rem;
  }
  .faq-section .contact-wrapper .send {
    height: 3.75rem;
    margin-top: -1rem;
  }
}

/* How It Works Page */
.flow-wrapper {
  background: #000;
  color: #fff;
  padding: 5rem 0 11rem;
}

.flow-wrapper .process-section {
  margin-bottom: 12rem;
}

.flow-wrapper .process-section .title {
  font-size: 8.438rem;
  margin-bottom: 0;
  color: #f2c81f;
  font-weight: 900;
}

.flow-wrapper .process-section .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flow-wrapper .process-section .step .text {
  padding: 4rem;
}

.flow-wrapper .process-section .step .text h3 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  position: relative;
  padding-left: 2rem;
}

.flow-wrapper .process-section .step .text h3 span {
  position: absolute;
  left: 0;
}

.flow-wrapper .process-section .step .arrow {
  margin-top: 4rem;
}

.flow-wrapper .process-section .step.first_step .first_step_img img {
  max-width: 18rem;
}

.flow-wrapper .process-section .step.first_step .first_step_arrow img {
  max-width: 12rem;
}

.flow-wrapper .process-section .step.second_step {
  margin-top: -8rem;
}

.flow-wrapper .process-section .step.second_step .second_step_img img {
  max-width: 30rem;
}

.flow-wrapper .process-section .step.second_step .second_step_arrow img {
  max-width: 15rem;
}

.flow-wrapper .process-section .step.third_step {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-top: -7rem;
}

.flow-wrapper .process-section .step.third_step .text {
  padding-right: 0;
  margin-top: 2rem;
}

.flow-wrapper .process-section .step.third_step .third_step_img img {
  max-width: 35rem;
}

.flow-wrapper .process-section .step.third_step .third_step_arrow {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(120deg);
          transform: translateX(-50%) rotate(120deg);
}

.flow-wrapper .process-section .step.third_step .third_step_arrow img {
  max-width: 12rem;
}

.flow-wrapper .process-section .step.fourth_step {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: -30rem;
}

.flow-wrapper .process-section .step.fourth_step .text {
  margin-top: 2rem;
  margin-left: 5rem;
}

.flow-wrapper .process-section .step.fourth_step .fourth_step_img img {
  max-width: 46rem;
}

.flow-wrapper .process-section .step.fifth_step {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-top: -10rem;
}

.flow-wrapper .process-section .step.fifth_step .text {
  margin-top: 0rem;
  margin-right: 6rem;
}

.flow-wrapper .process-section .step.fifth_step .fifth_step_img img {
  max-width: 55rem;
}

.flow-wrapper .process-section .step.fifth_step .fifth_step_arrow {
  position: absolute;
  top: 7rem;
  left: 23rem;
  margin-top: 0;
  -webkit-transform: rotateX(180deg) rotateZ(-97deg);
          transform: rotateX(180deg) rotateZ(-97deg);
}

.flow-wrapper .process-section .step.fifth_step .fifth_step_arrow img {
  max-width: 16rem;
}

.flow-wrapper .pricing .title {
  font-size: 3.125rem;
  color: #f2c81f;
  font-weight: 700;
}

.flow-wrapper .pricing .pricing_text {
  font-size: 5rem;
  font-weight: 300;
  margin: 1rem 0 .5rem;
}

.flow-wrapper .pricing .charge_text {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 300;
}

.flow-wrapper .pricing .keypoints {
  margin: 3.5rem 0;
  padding-left: 0;
  list-style: none;
}

.flow-wrapper .pricing .keypoints li {
  font-size: 1.875rem;
  line-height: 1.4;
  margin-bottom: .5rem;
}

.flow-wrapper .pricing .keypoints li svg {
  color: #f2c81f;
  margin-right: 1.25rem;
}

.flow-wrapper .pricing .payment_methods img {
  margin-right: 7.5rem;
  max-width: 16rem;
}

.flow-wrapper .pricing .payment_methods img:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 1024px) {
  .flow-wrapper .process-section .step.second_step, .flow-wrapper .process-section .step.third_step {
    margin-top: 5rem !important;
  }
  .flow-wrapper .process-section .step.fourth_step {
    margin-top: 7rem !important;
  }
  .flow-wrapper .process-section .step.fifth_step {
    margin-top: 1rem !important;
  }
  .flow-wrapper .process-section .step.third_step {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  .flow-wrapper .process-section .step.third_step .text {
    padding-right: 2rem;
    padding-left: 0;
  }
  .flow-wrapper .process-section .step .arrow {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .flow-wrapper {
    padding: 1rem 0 3rem;
    overflow: hidden;
  }
  .flow-wrapper .text-right {
    text-align: center !important;
  }
  .flow-wrapper .process-section .title {
    font-size: 3.125rem;
  }
  .flow-wrapper .process-section .title + p {
    display: none;
  }
  .flow-wrapper .process-section .step {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flow-wrapper .process-section .step .text {
    text-align: center;
    padding: 2rem;
  }
  .flow-wrapper .process-section .step .text h3 {
    font-size: 1.25rem;
    display: inline-block;
    text-align: left;
  }
  .flow-wrapper .process-section .step.first_step .first_step_img img {
    max-width: 45vw;
  }
  .flow-wrapper .process-section .step.second_step {
    margin-top: 3rem !important;
  }
  .flow-wrapper .process-section .step.second_step .second_step_img img {
    max-width: 85vw;
  }
  .flow-wrapper .process-section .step.third_step {
    margin-top: 1rem !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
  .flow-wrapper .process-section .step.third_step .third_step_img img {
    max-width: 100vw;
  }
  .flow-wrapper .process-section .step.third_step .text {
    padding-right: 0;
  }
  .flow-wrapper .process-section .step.fourth_step {
    margin-top: 3rem !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .flow-wrapper .process-section .step.fourth_step .fourth_step_img img {
    max-width: 86vw;
    -webkit-transform: scale(2.1);
            transform: scale(2.1);
    -webkit-transform-origin: 73% 0;
            transform-origin: 73% 0;
    margin-bottom: 25rem;
  }
  .flow-wrapper .process-section .step.fourth_step .text {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .flow-wrapper .process-section .step.fifth_step {
    margin-top: 3rem !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flow-wrapper .process-section .step.fifth_step .fifth_step_img img {
    max-width: 86vw;
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
  .flow-wrapper .process-section .step.fifth_step .text {
    margin-right: 0rem;
    padding: 2rem 0rem;
  }
  .flow-wrapper .pricing .title {
    font-size: 1.875rem;
  }
  .flow-wrapper .pricing .pricing_text {
    font-size: 11.5vw;
  }
  .flow-wrapper .pricing .charge_text {
    font-size: 1.25rem;
  }
  .flow-wrapper .pricing .keypoints {
    margin: 1.5rem 0 3rem;
    padding-right: 2rem;
  }
  .flow-wrapper .pricing .keypoints li {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: .75rem;
    padding-left: 2rem;
    position: relative;
  }
  .flow-wrapper .pricing .keypoints li svg {
    position: absolute;
    left: 0;
    top: .25rem;
  }
  .flow-wrapper .pricing .payment_methods img {
    margin-right: 12vw;
    max-width: 34vw;
    min-width: 34vw;
    max-height: 5.5rem;
  }
}

.rmdp-panel {
  display: none !important;
}

.rmdp-calendar {
  border: none !important;
}
/*# sourceMappingURL=main.css.map */